<div class="cards-list">

    <div class="widget">
        <span>Устройство-1</span>
        <div class="frame">
            <div class="button">
                <label class="power">
                    <input type="checkbox">
                    <div>
                        <svg viewBox="0 0 44 44">
                            <path
                                d="M22,6 C31,6 38,13 38,22 C38,31 31,38 22,38 C13,38 6,31 6,22 C6,13 13,6 22,6 L22,28"
                                id="path"></path>
                        </svg>
                    </div>
                </label>
                <a class="dribbble" target="_blank"><img
                    src="https://cdn.dribbble.com/assets/dribbble-ball-1col-dnld-e29e0436f93d2f9c430fde5f3da66f94493fdca66351408ab0f96e2ec518ab17.png"
                    alt=""></a>
            </div>
        </div>
    </div>

    <div class="widget">
        <span>Устройство-2</span>
        <div class="frame">
            <div class="button">
                <label class="power">
                    <input type="checkbox">
                    <div>
                        <svg viewBox="0 0 44 44">
                            <path
                                d="M22,6 C31,6 38,13 38,22 C38,31 31,38 22,38 C13,38 6,31 6,22 C6,13 13,6 22,6 L22,28"
                                id="path"></path>
                        </svg>
                    </div>
                </label>
                <a class="dribbble" target="_blank"><img
                    src="https://cdn.dribbble.com/assets/dribbble-ball-1col-dnld-e29e0436f93d2f9c430fde5f3da66f94493fdca66351408ab0f96e2ec518ab17.png"
                    alt=""></a>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <router-outlet></router-outlet>
</div>